<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="nomeCont" value="Wellington Carlos da Silva Mello"/>
    <add key ="CPFCont" value="40044095864"/>
    <add key ="CRCCont" value="12345678"/>
    <add key ="CNPJESC" value="22540716000114"/>
    <add key ="emailCont" value="wellington@expertisp.com.br"/>
    <add key ="CEPCont" value="19020730"/>
    <add key ="logradouroCont" value="Rua Campos Salles"/>
    <add key ="numCont" value="200"/>
    <add key ="compCont" value=""/>
    <add key ="bairroCont" value="Vl Stanta Izabel"/>
    <add key ="foneCont" value="1839033930"/>
    <add key ="faxCont" value="1839033930"/>
    <add key ="CodMunCont" value="2507507"/>
    <add key ="razaoSocialEmp" value="COMERCIAL DE CALCADOS RUBI LTDA - ME"/>
    <add key ="CNPJEmp" value="25268450000190"/>
    <add key ="UFEmp" value="RN"/>
    <add key ="inscricaoEstadual" value="12345678910"/>
    <add key ="codMunEmp" value="2507507"/>
    <add key ="fantasiaEmp" value="COMERCIAL DE CALCADOS RUBI LTDA - ME"/>
    <add key ="cepEmp" value="59064900"/>
    <add key ="logEmp" value="Av Senador Salgado Filho"/>
    <add key ="numEmp" value="2234"/>
    <add key ="compEmp" value="Bloco unico loja 237/238"/>
    <add key ="bairroEmp" value="Candelaria"/>
    <add key ="foneEmp" value="8420200993"/>
    <add key ="faxEmp" value=""/>
    <add key ="emailEmp" value=""/>
    <add key ="dtIni" value="01112018"/>
    <add key ="dtFin" value="30112018"/>
    <add key ="CRT" value="2 - Simples Nacional"/>
    <add key ="Perfil" value="B"/>
    
  </appSettings>
</configuration>